body{
    background-color: lightgrey;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content:center ;
    align-items: center;
}

.main{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.left{
    width: 50%;
}
.logo{
    color: blue;
    font-size: 50px;
    font-weight: bold;
}
.fbline{
    font-size: 25px;
    color: black;
    margin-top: 10px;
}

.right{
    width: 40%;

}
.loginbox{
    background-color: white;
    padding: 20px;
    border-radius: 8px;
}
.loginbox input{
    width: 100px;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid lightgrey;
}
.loginbtn{
    background-color: blue;
    color: white;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}
.loginbtn{
    background-color: blue;

}
.forget{
    display: black;
    color: blue;
    text-align: center;
    margin: 15px;
    text-decoration: none;
    cursor: pointer;
}
.createbtn{
    background-color: green;
    color: white;
    width: 100%;
    padding:10px;
    font-size: 16px;
    border-radius: 5px;
    border: none;

}